body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001233;
    color: #ffffff;
}

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    
}

.header {
    text-align: center;
    position: sticky;
    top: 0;
}

.banner-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #002855;
    padding: 10px;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
}

.nav {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.nav:hover {
    transition: 1s;
    color: #0466C8;
}

.text-marquee {
    background: #33415C;
    padding: 5px;
    margin-top: 0;
}

.isi {
    display: flex;
    margin-top: 20px;
}

.link {
    width: 25%;
    background: #5C677D;
    border-right: 1px solid #5C677D;
    padding: 20px;
    box-sizing: border-box;
}

.link a:hover{
    transition: 0.2s;
    color: #71a9e1;
    text-decoration: underline;
}

.center {
    width: 50%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.outer{
    margin: auto;
    display: flex;
}

.contdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.search {
    width: 25%;
    background: #5C677D;
    border-right: 1px solid #5C677D;
    padding: 20px;
    box-sizing: border-box;
}

.berita-utama a {
    text-decoration: none;
    color: #ffffff;
}

.foto-berita {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 2px gray;
    padding: 2px;
    background-color: white;
    border-radius: 5px;
}

.foto-profil {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 2px 2px gray;
    padding: 2px;
    background-color: white;
}

.menu-foto{
    width: 512px;
    height: 320px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px gray;
    padding: 2px;
    border-radius: 10px;
}

.text-p{
    margin: 20px auto;
    text-align: justify;
    width: 600px;
    height: auto;
    border-radius: 15px;
    background: #FFFFFF;
    padding: 15px;
    box-shadow: 0 2px 5px gray;
    color: #001845;
}

.footer {
    text-align: center;
    background: #000b1f;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.frame{
    display: flex;
    margin: 15px;
}

.frame p{
    margin: 20px;
    text-align: left;
    margin-top: 80px;
}

.framecont{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
}

.framecont p{
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

.mitra-foto{
    width: 250px;
    height: 230px;
    border-radius: 15px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 5px gray;
    object-fit: contain;
}
.mitra-foto:hover{ 
    box-shadow: 0 5px 15px rgb(93, 85, 85);
}
.gallery-foto{
    width: 250px;
    height: 230px;
    border-radius: 15px;
    background: white;
    padding: 10px;
    box-shadow: 0 2px 5px gray;
    object-fit: contain;
}
.gallery-foto:hover{ 
    box-shadow: 0 5px 15px rgb(93, 85, 85);
}

.foto-frame{
    width: 45%;
    margin: 20px;
}

#cube{
    margin-top: 120px;
    width: 75%;
    border-radius: 10px;
    mix-blend-mode: multiply; 
}

#video{
    margin: auto;
    margin-top: 5px;
}

.icon{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 15px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 2px gray;
    padding: 2px;
    background-color: white;
    border-radius: 5px;
}

#searchInput{
    width: 70%;
    border-radius: 5px;
}

#searchSub{
    width: 20%;
    border-radius: 5px;
}

#reply{
    margin-top: 10px;
    width: 70%;
    height: 300px;
    margin-bottom: 20px;
    resize: none;
}

.test-arr{
    margin-top: 25px;
    width: 100%;
    display: block;
}

.but{
    padding: 20px;
    border-radius: 20px;
}